{
    auto_https off
}

# https://zelikk.blogspot.com/2022/02/233-websocket-tls-caddy-v2-v2ray-reverseproxy-handlepath-headerup.html
:8888 {
    # tls /root/cert.crt /root/cert.key

    encode gzip

    handle_path /websocket {
        # uri path_regexp /.* /
        reverse_proxy localhost:8080
    }
    handle {
        reverse_proxy https://httpbin.org {
            trusted_proxies 0.0.0.0/0
            header_up Host {upstream_hostport}
        }
    }
}
