:80 {
    redir https://
}

:443 {
    tls /root/cert.crt /root/cert.key

    @v2ray_websocket {
        path /websocket
        header Connection Upgrade
        header Upgrade websocket
    }
    reverse_proxy @v2ray_websocket localhost:8080
}
